<<<<<<< HEAD
<%= render "shared/jumbotron", header: "Corn Posts", tag_line: "", alignment: "text-center" %>
<p id="notice"><%= notice %></p>


<% @posts.each do |post| %>
  <div class=form-group>
    <h1><%= post.title %></h1>
    <h6>by User ID: <%= post.user_id %><span></h6>
    <%= link_to 'Show Post', post %>
    <%= link_to 'Delete Post', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <div>
  <%= post.post %>
  </div>

<% end %>

<br>
<br>
<br>
=======
<%= render "shared/jumbotron", header: "Posts", tag_line: "Born for Corn", alignment: "text-center" %>

<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Post</th><br>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td> 
        <td><%= post.post %></td><br>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
>>>>>>> 5f7b8ef7371d5839f326f56d498683d1e7daaa39

<%= link_to 'New Post', new_post_path %>
